.cards__item {
    margin: 0 auto;
    max-width: 282px;
    background-color: #fff;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    min-height: 361px;
}