.profile__info {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 420px;
    margin-left: 30px;
    flex-wrap: wrap;
    align-items: baseline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .profile__info {
        margin: 25px 0 32px 0;
        max-width: 282px;
        justify-content: center;
    }
}